.list {
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 380px;
  height: 460px;
  padding-top: 28px;
  padding-left: 36px;
  padding-right: 36px;
  text-align: center;

  border-radius: 20px;
  background-color: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 76px;
  height: 22px;
}

.lable {
  width: 308px;
  height: 168px;
  margin-bottom: 88px;
}

.linie {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  left: 0;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80px;
  height: 80px;

  background: #ebd8ff;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;
  border-radius: 13.1749px;
}

.avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -58%);

  border-radius: 50%;

  width: 56px;
  height: 56px;
}

.tweets {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #ebd8ff;

  margin-bottom: 16px;
}

.followers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #ebd8ff;

  margin-bottom: 26px;
}

.button {
  margin-left: auto;
  margin-right: auto;
}
